/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/src/main/resources/static/node_modules/
LOG_HOME_IS_UNDEFINED/
src/main/resources/static/node_modules/.bin/
src/main/resources/static/node_modules/@sinonjs/formatio/
src/main/resources/static/node_modules/@sinonjs/samsam/LICENSE
src/main/resources/static/node_modules/@sinonjs/samsam/README.md
src/main/resources/static/node_modules/@sinonjs/samsam/dist/
src/main/resources/static/node_modules/@sinonjs/samsam/docs/
src/main/resources/static/node_modules/@sinonjs/samsam/lib/create-set.js
src/main/resources/static/node_modules/@sinonjs/samsam/lib/deep-equal-benchmark.js
src/main/resources/static/node_modules/@sinonjs/samsam/lib/deep-equal.js
src/main/resources/static/node_modules/@sinonjs/samsam/lib/get-class-name.js
src/main/resources/static/node_modules/@sinonjs/samsam/lib/get-class.js
src/main/resources/static/node_modules/@sinonjs/samsam/lib/identical.js
src/main/resources/static/node_modules/@sinonjs/samsam/lib/is-arguments.js
src/main/resources/static/node_modules/@sinonjs/samsam/lib/is-date.js
src/main/resources/static/node_modules/@sinonjs/samsam/lib/is-element.js
src/main/resources/static/node_modules/@sinonjs/samsam/lib/is-nan.js
src/main/resources/static/node_modules/@sinonjs/samsam/lib/is-neg-zero.js
src/main/resources/static/node_modules/@sinonjs/samsam/lib/is-object.js
src/main/resources/static/node_modules/@sinonjs/samsam/lib/is-set.js
src/main/resources/static/node_modules/@sinonjs/samsam/lib/is-subset.js
src/main/resources/static/node_modules/@sinonjs/samsam/lib/match.js
src/main/resources/static/node_modules/@sinonjs/samsam/lib/samsam.js
src/main/resources/static/node_modules/@sinonjs/samsam/package.json
src/main/resources/static/node_modules/align-text/
src/main/resources/static/node_modules/amdefine/
src/main/resources/static/node_modules/ansi-gray/
src/main/resources/static/node_modules/ansi-regex/
src/main/resources/static/node_modules/ansi-styles/
src/main/resources/static/node_modules/ansi-wrap/
src/main/resources/static/node_modules/archy/
src/main/resources/static/node_modules/arr-diff/
src/main/resources/static/node_modules/arr-flatten/
src/main/resources/static/node_modules/arr-union/
src/main/resources/static/node_modules/array-differ/
src/main/resources/static/node_modules/array-each/
src/main/resources/static/node_modules/array-from/
src/main/resources/static/node_modules/array-slice/
src/main/resources/static/node_modules/array-union/
src/main/resources/static/node_modules/array-uniq/
src/main/resources/static/node_modules/array-unique/
src/main/resources/static/node_modules/arrify/
src/main/resources/static/node_modules/assertion-error/
src/main/resources/static/node_modules/assign-symbols/
src/main/resources/static/node_modules/async/
src/main/resources/static/node_modules/atob/
src/main/resources/static/node_modules/balanced-match/
src/main/resources/static/node_modules/base/
src/main/resources/static/node_modules/beeper/
src/main/resources/static/node_modules/binaryextensions/
src/main/resources/static/node_modules/brace-expansion/
src/main/resources/static/node_modules/braces/
src/main/resources/static/node_modules/browser-stdout/
src/main/resources/static/node_modules/bufferstreams/
src/main/resources/static/node_modules/build/
src/main/resources/static/node_modules/cache-base/
src/main/resources/static/node_modules/camelcase/
src/main/resources/static/node_modules/center-align/
src/main/resources/static/node_modules/chai/
src/main/resources/static/node_modules/chalk/
src/main/resources/static/node_modules/check-error/
src/main/resources/static/node_modules/class-utils/
src/main/resources/static/node_modules/clean-css/
src/main/resources/static/node_modules/cliui/
src/main/resources/static/node_modules/clone-buffer/
src/main/resources/static/node_modules/clone-stats/
src/main/resources/static/node_modules/clone/.npmignore
src/main/resources/static/node_modules/clone/LICENSE
src/main/resources/static/node_modules/clone/README.md
src/main/resources/static/node_modules/clone/clone.js
src/main/resources/static/node_modules/clone/package.json
src/main/resources/static/node_modules/cloneable-readable/
src/main/resources/static/node_modules/collection-visit/
src/main/resources/static/node_modules/color-convert/
src/main/resources/static/node_modules/color-name/
src/main/resources/static/node_modules/color-string/
src/main/resources/static/node_modules/color-support/
src/main/resources/static/node_modules/color/
src/main/resources/static/node_modules/colornames/
src/main/resources/static/node_modules/colors/
src/main/resources/static/node_modules/colorspace/
src/main/resources/static/node_modules/commander/
src/main/resources/static/node_modules/component-emitter/
src/main/resources/static/node_modules/concat-map/
src/main/resources/static/node_modules/concat-with-sourcemaps/
src/main/resources/static/node_modules/copy-descriptor/
src/main/resources/static/node_modules/core-util-is/
src/main/resources/static/node_modules/cssmin/
src/main/resources/static/node_modules/dateformat/
src/main/resources/static/node_modules/deap/
src/main/resources/static/node_modules/debug/
src/main/resources/static/node_modules/decamelize/
src/main/resources/static/node_modules/decode-uri-component/
src/main/resources/static/node_modules/deep-eql/
src/main/resources/static/node_modules/defaults/
src/main/resources/static/node_modules/define-property/
src/main/resources/static/node_modules/del/
src/main/resources/static/node_modules/deprecated/
src/main/resources/static/node_modules/detect-file/
src/main/resources/static/node_modules/diagnostics/
src/main/resources/static/node_modules/diff/
src/main/resources/static/node_modules/duplexer2/
src/main/resources/static/node_modules/duplexify/
src/main/resources/static/node_modules/enabled/
src/main/resources/static/node_modules/end-of-stream/
src/main/resources/static/node_modules/env-variable/
src/main/resources/static/node_modules/escape-string-regexp/
src/main/resources/static/node_modules/expand-brackets/
src/main/resources/static/node_modules/expand-tilde/
src/main/resources/static/node_modules/extend-shallow/
src/main/resources/static/node_modules/extend/
src/main/resources/static/node_modules/extglob/LICENSE
src/main/resources/static/node_modules/extglob/README.md
src/main/resources/static/node_modules/extglob/changelog.md
src/main/resources/static/node_modules/extglob/index.js
src/main/resources/static/node_modules/extglob/lib/compilers.js
src/main/resources/static/node_modules/extglob/lib/extglob.js
src/main/resources/static/node_modules/extglob/lib/parsers.js
src/main/resources/static/node_modules/extglob/lib/utils.js
src/main/resources/static/node_modules/extglob/node_modules/
Would remo
ve src/main/resources/static/node_modules/extglob/package.json
src/main/resources/static/node_modules/fancy-log/
src/main/resources/static/node_modules/fast-safe-stringify/
src/main/resources/static/node_modules/fecha/
src/main/resources/static/node_modules/fill-range/
src/main/resources/static/node_modules/find-index/
src/main/resources/static/node_modules/findup-sync/
src/main/resources/static/node_modules/fined/
src/main/resources/static/node_modules/first-chunk-stream/
src/main/resources/static/node_modules/flagged-respawn/
src/main/resources/static/node_modules/for-in/
src/main/resources/static/node_modules/for-own/
src/main/resources/static/node_modules/fork-stream/
src/main/resources/static/node_modules/formatio/
src/main/resources/static/node_modules/fragment-cache/
src/main/resources/static/node_modules/fs.realpath/
src/main/resources/static/node_modules/gaze/
src/main/resources/static/node_modules/get-func-name/
src/main/resources/static/node_modules/get-value/
src/main/resources/static/node_modules/glob-stream/
src/main/resources/static/node_modules/glob-watcher/
src/main/resources/static/node_modules/glob/
src/main/resources/static/node_modules/glob2base/
src/main/resources/static/node_modules/global-modules/
src/main/resources/static/node_modules/global-prefix/
src/main/resources/static/node_modules/globby/
src/main/resources/static/node_modules/globule/
src/main/resources/static/node_modules/glogg/
src/main/resources/static/node_modules/graceful-fs/
src/main/resources/static/node_modules/graceful-readlink/
src/main/resources/static/node_modules/growl/
src/main/resources/static/node_modules/gulp-concat/LICENSE
src/main/resources/static/node_modules/gulp-concat/README.md
src/main/resources/static/node_modules/gulp-concat/index.js
src/main/resources/static/node_modules/gulp-concat/node_modules/clone-stats/
src/main/resources/static/node_modules/gulp-concat/node_modules/clone/.npmignore
src/main/resources/static/node_modules/gulp-concat/node_modules/clone/LICENSE
src/main/resources/static/node_modules/gulp-concat/node_modules/clone/README.md
src/main/resources/static/node_modules/gulp-concat/node_modules/clone/clone.js
src/main/resources/static/node_modules/gulp-concat/node_modules/clone/package.json
src/main/resources/static/node_modules/gulp-concat/node_modules/replace-ext/
src/main/resources/static/node_modules/gulp-concat/node_modules/vinyl/
src/main/resources/static/node_modules/gulp-concat/package.json
src/main/resources/static/node_modules/gulp-header/
src/main/resources/static/node_modules/gulp-if/
src/main/resources/static/node_modules/gulp-match/
src/main/resources/static/node_modules/gulp-minify-css/
src/main/resources/static/node_modules/gulp-rename/
src/main/resources/static/node_modules/gulp-replace/
src/main/resources/static/node_modules/gulp-uglify/
src/main/resources/static/node_modules/gulp-util/
src/main/resources/static/node_modules/gulp/
src/main/resources/static/node_modules/gulplog/
src/main/resources/static/node_modules/has-ansi/
src/main/resources/static/node_modules/has-flag/
src/main/resources/static/node_modules/has-gulplog/
src/main/resources/static/node_modules/has-value/
src/main/resources/static/node_modules/has-values/
src/main/resources/static/node_modules/he/
src/main/resources/static/node_modules/homedir-polyfill/
src/main/resources/static/node_modules/inflight/
src/main/resources/static/node_modules/inherits/
src/main/resources/static/node_modules/ini/
src/main/resources/static/node_modules/interpret/
src/main/resources/static/node_modules/is-absolute/
src/main/resources/static/node_modules/is-accessor-descriptor/
src/main/resources/static/node_modules/is-arrayish/
src/main/resources/static/node_modules/is-buffer/
src/main/resources/static/node_modules/is-data-descriptor/
src/main/resources/static/node_modules/is-descriptor/
src/main/resources/static/node_modules/is-extendable/
src/main/resources/static/node_modules/is-extglob/
src/main/resources/static/node_modules/is-glob/
src/main/resources/static/node_modules/is-number/
src/main/resources/static/node_modules/is-path-cwd/
src/main/resources/static/node_modules/is-path-in-cwd/
src/main/resources/static/node_modules/is-path-inside/
src/main/resources/static/node_modules/is-plain-object/
src/main/resources/static/node_modules/is-relative/
src/main/resources/static/node_modules/is-stream/
src/main/resources/static/node_modules/is-unc-path/
src/main/resources/static/node_modules/is-utf8/
src/main/resources/static/node_modules/is-windows/
src/main/resources/static/node_modules/isarray/
src/main/resources/static/node_modules/isexe/
src/main/resources/static/node_modules/isobject/
src/main/resources/static/node_modules/istextorbinary/
src/main/resources/static/node_modules/js-yaml/
src/main/resources/static/node_modules/jsmin/
src/main/resources/static/node_modules/json3/
src/main/resources/static/node_modules/just-extend/
src/main/resources/static/node_modules/jxLoader/
src/main/resources/static/node_modules/kind-of/
src/main/resources/static/node_modules/kuler/
src/main/resources/static/node_modules/lazy-cache/
src/main/resources/static/node_modules/liftoff/
src/main/resources/static/node_modules/lodash._baseassign/
src/main/resources/static/node_modules/lodash._basecopy/
src/main/resources/static/node_modules/lodash._basecreate/
src/main/resources/static/node_modules/lodash._basetostring/
src/main/resources/static/node_modules/lodash._basevalues/
src/main/resources/static/node_modules/lodash._getnative/
src/main/resources/static/node_modules/lodash._isiterateecall/
src/main/resources/static/node_modules/lodash._reescape/
src/main/resources/static/node_modules/lodash._reevaluate/
src/main/resources/static/node_modules/lodash._reinterpolate/
src/main/resources/static/node_modules/lodash._root/
src/main/resources/static/node_modules/lodash.create/
src/main/resources/static/node_modules/lodash.escape/
src/main/resources/static/node_modules/lodash.get/
src/main/resources/static/node_modules/lodash.isarguments/
src/main/resources/static/node_modules/lodash.isarray/
src/main/resources/static/node_modules/lodash.keys/
src/main/resources/static/node_modules/lodash.restparam/
src/main/resources/static/node_modules/lodash.template/
src/main/resources/static/node_modules/lodash.templatesettings/
src/main/resources/static/node_modules/lodash/
src/main/resources/static/node_modules/logform/
src/main/resources/static/node_modules/lolex/
src/main/resources/static/node_modules/longest/
src/main/resources/static/node_modules/lru-cache/
src/main/resources/static/node_modules/make-iterator/
src/main/resourc
es/static/node_modules/makeerror/
src/main/resources/static/node_modules/map-cache/
src/main/resources/static/node_modules/map-visit/
src/main/resources/static/node_modules/merge-stream/
src/main/resources/static/node_modules/micromatch/CHANGELOG.md
src/main/resources/static/node_modules/micromatch/LICENSE
src/main/resources/static/node_modules/micromatch/README.md
src/main/resources/static/node_modules/micromatch/index.js
src/main/resources/static/node_modules/micromatch/lib/cache.js
src/main/resources/static/node_modules/micromatch/lib/compilers.js
src/main/resources/static/node_modules/micromatch/lib/parsers.js
src/main/resources/static/node_modules/micromatch/lib/utils.js
src/main/resources/static/node_modules/micromatch/package.json
src/main/resources/static/node_modules/minimatch/
src/main/resources/static/node_modules/minimist/
src/main/resources/static/node_modules/mixin-deep/
src/main/resources/static/node_modules/mkdirp/
src/main/resources/static/node_modules/mocha/
src/main/resources/static/node_modules/moo-server/
src/main/resources/static/node_modules/ms/
src/main/resources/static/node_modules/multipipe/
src/main/resources/static/node_modules/nanomatch/
src/main/resources/static/node_modules/native-promise-only/
src/main/resources/static/node_modules/natives/
src/main/resources/static/node_modules/nise/
src/main/resources/static/node_modules/object-assign/
src/main/resources/static/node_modules/object-copy/
src/main/resources/static/node_modules/object-visit/
src/main/resources/static/node_modules/object.defaults/
src/main/resources/static/node_modules/object.map/
src/main/resources/static/node_modules/object.pick/
src/main/resources/static/node_modules/once/
src/main/resources/static/node_modules/one-time/
src/main/resources/static/node_modules/orchestrator/
src/main/resources/static/node_modules/ordered-read-streams/
src/main/resources/static/node_modules/os-homedir/
src/main/resources/static/node_modules/parse-filepath/
src/main/resources/static/node_modules/parse-passwd/
src/main/resources/static/node_modules/pascalcase/
src/main/resources/static/node_modules/path-is-absolute/
src/main/resources/static/node_modules/path-is-inside/
src/main/resources/static/node_modules/path-parse/
src/main/resources/static/node_modules/path-root-regex/
src/main/resources/static/node_modules/path-root/
src/main/resources/static/node_modules/path-to-regexp/
src/main/resources/static/node_modules/pathval/
src/main/resources/static/node_modules/pify/
src/main/resources/static/node_modules/pinkie-promise/
src/main/resources/static/node_modules/pinkie/
src/main/resources/static/node_modules/posix-character-classes/
src/main/resources/static/node_modules/pretty-hrtime/
src/main/resources/static/node_modules/process-nextick-args/
src/main/resources/static/node_modules/promised-io/
src/main/resources/static/node_modules/readable-stream/
src/main/resources/static/node_modules/rechoir/
src/main/resources/static/node_modules/regex-not/
src/main/resources/static/node_modules/remove-trailing-separator/
src/main/resources/static/node_modules/repeat-element/
src/main/resources/static/node_modules/repeat-string/
src/main/resources/static/node_modules/replace-ext/
src/main/resources/static/node_modules/replacestream/
src/main/resources/static/node_modules/resolve-dir/
src/main/resources/static/node_modules/resolve-url/
src/main/resources/static/node_modules/resolve/
src/main/resources/static/node_modules/ret/
src/main/resources/static/node_modules/right-align/
src/main/resources/static/node_modules/rimraf/
src/main/resources/static/node_modules/safe-buffer/
src/main/resources/static/node_modules/safe-regex/
src/main/resources/static/node_modules/samsam/
src/main/resources/static/node_modules/semver/
src/main/resources/static/node_modules/sequencify/
src/main/resources/static/node_modules/set-value/
src/main/resources/static/node_modules/sigmund/
src/main/resources/static/node_modules/simple-swizzle/
src/main/resources/static/node_modules/sinon-chai/
src/main/resources/static/node_modules/sinon/
src/main/resources/static/node_modules/snapdragon-node/
src/main/resources/static/node_modules/snapdragon-util/
src/main/resources/static/node_modules/snapdragon/
src/main/resources/static/node_modules/source-map-resolve/
src/main/resources/static/node_modules/source-map-url/
src/main/resources/static/node_modules/source-map/
src/main/resources/static/node_modules/sparkles/
src/main/resources/static/node_modules/split-string/
src/main/resources/static/node_modules/stack-trace/
src/main/resources/static/node_modules/static-extend/
src/main/resources/static/node_modules/stream-consume/
src/main/resources/static/node_modules/stream-shift/
src/main/resources/static/node_modules/string_decoder/
src/main/resources/static/node_modules/strip-ansi/
src/main/resources/static/node_modules/strip-bom/
src/main/resources/static/node_modules/supports-color/
src/main/resources/static/node_modules/ternary-stream/
src/main/resources/static/node_modules/text-encoding/
src/main/resources/static/node_modules/text-hex/
src/main/resources/static/node_modules/textextensions/
src/main/resources/static/node_modules/through2/
src/main/resources/static/node_modules/tildify/
src/main/resources/static/node_modules/time-stamp/
src/main/resources/static/node_modules/timespan/
src/main/resources/static/node_modules/tmpl/
src/main/resources/static/node_modules/to-object-path/
src/main/resources/static/node_modules/to-regex-range/
src/main/resources/static/node_modules/to-regex/
src/main/resources/static/node_modules/triple-beam/
src/main/resources/static/node_modules/type-detect/
src/main/resources/static/node_modules/uglify-js/
src/main/resources/static/node_modules/uglify-save-license/
src/main/resources/static/node_modules/uglify-to-browserify/
src/main/resources/static/node_modules/unc-path-regex/
src/main/resources/static/node_modules/union-value/
src/main/resources/static/node_modules/unique-stream/
src/main/resources/static/node_modules/unset-value/
src/main/resources/static/node_modules/urix/
src/main/resources/static/node_modules/use/
src/main/resources/static/node_modules/user-home/
src/main/resources/static/node_modules/util-deprecate/
src/main/resources/static/node_modules/v8flags/
src/main/resources/static/node_modules/vinyl-bufferstream/
src/main/resources/static/node_modules/vinyl-fs/
src/main/resources/static/node_modules/vinyl-sourcemaps-apply/
src/main/resources/static/node_modules/vinyl/
src/main/resources/static/node_modules/walker/
src/main/resources/static/node_modules/which/
src/ma
in/resources/static/node_modules/window-size/
src/main/resources/static/node_modules/winston-transport/
src/main/resources/static/node_modules/winston/
src/main/resources/static/node_modules/wordwrap/
src/main/resources/static/node_modules/wrappy/
src/main/resources/static/node_modules/wrench/
src/main/resources/static/node_modules/xtend/
src/main/resources/static/node_modules/yargs/
